.vision-mission-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
      }
       
      .vision-section, .mission-section {
        width: 45%;
      }
      
      .vision-title {
        color: rgb(78, 197, 197); 
        font-size: 24px;
        font-weight: bold;
      }
      
      .mission-title {
        color:rgb(130, 32, 130); 
        font-size: 24px;
        font-weight: bold;
      }
      
      .vision-text, .mission-text {
        font-size: 16px;
        color: #5a6b7b;
      }
      
      .divider {
        width: 2px;
        height: 100px;
        background-color: #ddd;
      }