p{
    font: size 64px ;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    text-align: center;
    flex-wrap: wrap;
    justify-content:center ;
    margin: 100px;
    .span__one{
        border-bottom:red 2px solid;
        margin-right: 10px;
    }
    .span__two{
        border-bottom:blue 2px solid;
        margin-right: 10px;
    }
}
table{
    text-align: center;
    margin-left: 540px;
   
   
   
}
.p1{
    font-family:'Times New Roman', Times, serif ;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    flex-wrap: wrap;


}
.child{
    position: relative;
    margin-left: 420px;
    margin-right: 10px;
    background-color: black;
    color: aqua;
}
.sec-child{
    background-color: black;
    color: aqua;
}